### user ###

### test ###
/bin
/screenshots

### base ###
# release folder
/dist
/browser

# Logs
logs
*.log
npm-debug.log*

# editor files
# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
# User-specific stuff from JetBrains:
.idea/*
# Leaving misc.xml because we save JS parsing engine there
!.idea/misc.xml

# Runtime data
pids
*.pid

# Dependency directories
node_modules
coverage
.nyc_output
